<h1>Evnts#event</h1>

	<div class="container">
		<h1>Register for Event</h1>
		<div class="row">
			<div class="col-md-2">
				<%= form_with(model: @event , local: true) do |f| %>
				<%= f.label :Title %>
				<%= f.text_field :title %>
				<%= f.submit "Register" , class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
